/* #rantxtdiv {
    background-color: rgb(84, 84, 172);
    color: white;
    padding: 10px;
    border-radius: 5%;
    border: 2px solid black;
    height: auto;
    margin-top: 10px;

} */

/* .header-row {
    display: flex;
    /* align-items: center;  
    text-align: center;
    justify-content: center;
    margin-top: 10px;

} */

/* #mode {
    margin-left: 100px;

} */

/* .randbtn {
    margin-top: 20px;
} */

.dark {
    background-color: black;
    color: rgb(226, 39, 39);

}

.light {
    background-color: rgb(236, 159, 159);
    color: black;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    gap: 10px;

}

.header-row {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rigntbtn {
    position: absolute;
    right: 10px;
}

 .randtxt {
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    font-style: italic;
}

